# RegEx Workbook

In [129]:
# import modules
import json
import pandas as pd
import re
import regex
from datetime import datetime
pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", 999)

In [188]:
# import twitter data
data_json = open('data/tweets/2017-12-01.json', mode='r').read()  
df = pd.read_json('data/tweets/2017-12-01.json')
df

,id,screen_name,user_id,time,link,text,source
0,936472671302414336,RoKhanna,771152516,2017-12-01T00:50:58-05:00,https://www.twitter.com/RoKhanna/statuses/9364...,Central problem for America’s economy. Stock m...,Twitter for iPhone
1,936470481011707904,jaredpolis,15361570,2017-12-01T00:42:16-05:00,https://www.twitter.com/jaredpolis/statuses/93...,If @JosephEStiglitz is so sure #bitcoin is a b...,Twitter for iPhone
2,936467554813521920,tedlieu,21059255,2017-12-01T00:30:38-05:00,https://www.twitter.com/tedlieu/statuses/93646...,@TheViKingDebate @TheJusticeDept Help us take ...,Twitter for Android
3,936466979573190656,RepAlGreen,156333623,2017-12-01T00:28:21-05:00,https://www.twitter.com/RepAlGreen/statuses/93...,"RT @RepAlGreen Next week, there will be a vote...",Twitter for iPhone
4,936465730538819584,tedlieu,21059255,2017-12-01T00:23:23-05:00,https://www.twitter.com/tedlieu/statuses/93646...,Dear @TheJusticeDept Sessions: If you have age...,Twitter for Android
...,...,...,...,...,...,...,...
3089,936808302633033728,RepDwightEvans,90639372,2017-12-01T23:04:39-05:00,https://www.twitter.com/nytimes/statuses/93680...,RT @nytimes Republicans are on the verge of pa...,Twitter for iPhone
3090,936808273109323776,RepDwightEvans,90639372,2017-12-01T23:04:32-05:00,https://www.twitter.com/SenWarren/statuses/936...,RT @SenWarren Well there you have it: The @Sen...,Twitter for iPhone
3091,936807981210988544,RepAdams,2916086925,2017-12-01T23:03:22-05:00,https://www.twitter.com/KamalaHarris/statuses/...,RT @KamalaHarris Senate Republicans are trying...,Twitter for iPhone
3092,936807771512565760,RepAdams,2916086925,2017-12-01T23:02:32-05:00,https://www.twitter.com/SenSchumer/statuses/93...,"RT @SenSchumer In my long career in politics, ...",Twitter for iPhone
3093,936667449579229184,BLeeForCongress,414436134,2017-12-01T13:44:57-05:00,https://www.twitter.com/BLeeForCongress/status...,Nearly 16 million HIV infections have been ave...,TweetDeck

In [189]:
df.dtypes

id              int64
screen_name    object
user_id         int64
time           object
link           object
text           object
source         object
dtype: object

# Data Preprocessing

In [190]:
# extract all hashtags into new column
df['hashtags'] = df.text.apply(lambda x: re.findall(r'#[\S]+', str(x)))
df.hashtags

0                             []
1                     [#bitcoin]
2                             []
3       [#RepealandReplaceTrump]
4                             []
                  ...
3089                          []
3090               [#GOPTaxScam]
3091                          []
3092                          []
3093    [#WAD2017, #EndAIDS2030]
Name: hashtags, Length: 3094, dtype: object

In [191]:
df.text[4]

'Dear @TheJusticeDept Sessions: If you have agents &amp; prosecutors with nothing to do, here are crimes more important than the stupid federal law against marijuana:\n\nChild pornography \nKidnapping \nBank Robbery \nIdentity Theft \n\nAnd are you ready for this ... here it comes\n\nPERJURY https://twitter.com/intelligencer/status/936347100501151744 QT @intelligencer Jeff Sessions on Wednesday suggested that the federal government is preparing to crack down on recreational marijuana http://nym.ag/2BxCAtQ'

In [192]:
df.text[6]

'RT @StephenAtHome Non-hypothetical question: are you insane? https://twitter.com/DonaldJTrumpJr/status/144505633981468672 QT @DonaldJTrumpJr Hypothetical question? Can my 2 year old get in trouble 4 sexual harassment for asking his teacher to come to his place naked after school?'

In [ ]:
wrappedpattern = "(" + pattern ")"
regex = re.compile(wrappedpattern)
matches

In [250]:
# extract all callouts
df['callouts'] = df.text.apply(lambda x: re.findall(r'@[\S]+', str(x)))
df['callouts'][0][0]

IndexError: list index out of range

In [194]:
charref = [x for x in df.text.apply(lambda x: re.findall(r'&[\S]+', str(x)))]
charref
flat_list = [item for sublist in charref for item in sublist]
len(flat_list)

582

In [205]:
# replace all hashtags, ampersands, and callouts with no space
df.text = df.text.apply(lambda x: re.sub(r'[#@&][\S]+', '', str(x)))
df.text

0       Central problem for America’s economy. Stock m...
1       If  is so sure  is a bubble, he should make a ...
2                            Help us take back the House.
3       RT  Next week, there will be a vote to impeach...
4       Dear  Sessions: If you have agents  prosecutor...
                              ...
3089    RT  Republicans are on the verge of passing ta...
3090    RT  Well there you have it: The  won’t even gi...
3091    RT  Senate Republicans are trying to force a v...
3092    RT  In my long career in politics, I have not ...
3093    Nearly 16 million HIV infections have been ave...
Name: text, Length: 3094, dtype: object

In [206]:
# remove twitter RT and QT
df.text = df.text.apply(lambda x: re.sub(r'(\bRT\b|\bQT\b)', '', str(x)))
df.text

0       Central problem for America’s economy. Stock m...
1       If  is so sure  is a bubble, he should make a ...
2                            Help us take back the House.
3         Next week, there will be a vote to impeach t...
4       Dear  Sessions: If you have agents  prosecutor...
                              ...
3089      Republicans are on the verge of passing tax ...
3090      Well there you have it: The  won’t even give...
3091      Senate Republicans are trying to force a vot...
3092      In my long career in politics, I have not se...
3093    Nearly 16 million HIV infections have been ave...
Name: text, Length: 3094, dtype: object

In [207]:
# remove emoji
df.text = df.text.apply(lambda x: re.sub(r'\B[^\w\s]{2,}\B', ' ', str(x)))
df.text

0       Central problem for America’s economy. Stock m...
1       If  is so sure  is a bubble, he should make a ...
2                            Help us take back the House.
3         Next week, there will be a vote to impeach t...
4       Dear  Sessions: If you have agents  prosecutor...
                              ...
3089      Republicans are on the verge of passing tax ...
3090      Well there you have it: The  won’t even give...
3091      Senate Republicans are trying to force a vot...
3092      In my long career in politics, I have not se...
3093    Nearly 16 million HIV infections have been ave...
Name: text, Length: 3094, dtype: object

In [210]:
# extract html links
df['html'] = df.text.apply(lambda x: re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', str(x)))
df.html[1]

[('https',
  'www.coindesk.com',
  '/bitcoin-outlawed-economist-joseph-stiglitz-says/')]

In [211]:
df.html[4]

[('https', 'twitter.com', '/intelligencer/status/936347100501151744'),
 ('http', 'nym.ag', '/2BxCAtQ')]

In [212]:
# remove html links
df.text = df.text.apply(lambda x:re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', str(x)))
df.text

0       Central problem for America’s economy. Stock m...
1       If  is so sure  is a bubble, he should make a ...
2                            Help us take back the House.
3         Next week, there will be a vote to impeach t...
4       Dear  Sessions: If you have agents  prosecutor...
                              ...
3089      Republicans are on the verge of passing tax ...
3090      Well there you have it: The  won’t even give...
3091      Senate Republicans are trying to force a vot...
3092      In my long career in politics, I have not se...
3093    Nearly 16 million HIV infections have been ave...
Name: text, Length: 3094, dtype: object

In [215]:
# remove punctuation
df.text = df.text.apply(lambda x: re.sub(r'[^\w\s]', r'', str(x)))
df.text

0       Central problem for Americas economy Stock mar...
1       If  is so sure  is a bubble he should make a f...
2                             Help us take back the House
3         Next week there will be a vote to impeach th...
4       Dear  Sessions If you have agents  prosecutors...
                              ...
3089      Republicans are on the verge of passing tax ...
3090      Well there you have it The  wont even give D...
3091      Senate Republicans are trying to force a vot...
3092      In my long career in politics I have not see...
3093    Nearly 16 million HIV infections have been ave...
Name: text, Length: 3094, dtype: object

In [216]:
# lower casing
df.text = df.text.apply(lambda x: " ".join(x.lower() for x in x.split()))
df.text

0       central problem for americas economy stock mar...
1       if is so sure is a bubble he should make a for...
2                             help us take back the house
3       next week there will be a vote to impeach the ...
4       dear sessions if you have agents prosecutors w...
                              ...
3089    republicans are on the verge of passing tax bi...
3090    well there you have it the wont even give demo...
3091    senate republicans are trying to force a vote ...
3092    in my long career in politics i have not seen ...
3093    nearly 16 million hiv infections have been ave...
Name: text, Length: 3094, dtype: object

In [217]:
# remove words less than 4 words long
shortword = re.compile(r'\W*\b\w{1,3}\b')
df.text = df.text.apply(lambda x: shortword.sub('', str(x)))
df.text

0       central problem americas economy stock market ...
1        sure bubble should make fortune shorting matt...
2                                    help take back house
3       next week there will vote impeach bigotinchief...
4       dear sessions have agents prosecutors with not...
                              ...
3089    republicans verge passing bill with significan...
3090    well there have wont even give democrats weeke...
3091    senate republicans trying force vote next hour...
3092     long career politics have seen more regressiv...
3093    nearly million infections have been averted wo...
Name: text, Length: 3094, dtype: object

In [218]:
# remove any double or more whitespaces to single whitespaces
df.text = df.text.apply(lambda x: re.sub(r'\s\s+', ' ', str(x)))
df.text

0       central problem americas economy stock market ...
1        sure bubble should make fortune shorting matt...
2                                    help take back house
3       next week there will vote impeach bigotinchief...
4       dear sessions have agents prosecutors with not...
                              ...
3089    republicans verge passing bill with significan...
3090    well there have wont even give democrats weeke...
3091    senate republicans trying force vote next hour...
3092     long career politics have seen more regressiv...
3093    nearly million infections have been averted wo...
Name: text, Length: 3094, dtype: object

In [220]:
# remove any leading and trailing whitespace
df.text = df.text.apply(lambda x: re.sub(r'(\A\s+|\s+\Z)', '', str(x)))
df.text

0       central problem americas economy stock market ...
1       sure bubble should make fortune shorting matte...
2                                    help take back house
3       next week there will vote impeach bigotinchief...
4       dear sessions have agents prosecutors with not...
                              ...
3089    republicans verge passing bill with significan...
3090    well there have wont even give democrats weeke...
3091    senate republicans trying force vote next hour...
3092    long career politics have seen more regressive...
3093    nearly million infections have been averted wo...
Name: text, Length: 3094, dtype: object

In [249]:
df.text.head(30)

0     central problem americas economy stock market ...
1     sure bubble should make fortune shorting matte...
2                                  help take back house
3     next week there will vote impeach bigotinchief...
4     dear sessions have agents prosecutors with not...
5     honestly cattle smarter than this person hypot...
6     nonhypothetical question insane hypothetical q...
7     heard text scam 97779 enter your well connect ...
8     this bill demonstratesonce again total collaps...
9     from rebuilding communities impacted hurricane...
10    truth that republicans marched past large numb...
11    urge senate vote proposed legislation that wil...
12    today senate begins debate light phones before...
13    truth mattersso does math raising taxes millio...
14    talk again about will explode senates official...
15    alegra verlo gran señora siempre apoyando vene...
16      trump pressed republicans senate russia inquiry
17    just finished teletownhall over 4000 constitue...
18       vote impeach trump will happen next week green
19    snap poll feel about innout burger coming colo...
20    next week there will vote impeach bigotinchief...
21    while wait news read dispatch from northwest f...
22    cops kidnap victim found woods group searching...
23    momma called when momma calls just have come r...
24                                remember kate steinle
25    lawmakers have carte blanche secret harassment...
26    cuts jobs made america america time senate pas...
27    watch christopher plummer newly recut money wo...
28    plan vote today bill announces support senate ...
29
Name: text, dtype: object

# Time Column

In [222]:
df.time

0       2017-12-01T00:50:58-05:00
1       2017-12-01T00:42:16-05:00
2       2017-12-01T00:30:38-05:00
3       2017-12-01T00:28:21-05:00
4       2017-12-01T00:23:23-05:00
                  ...
3089    2017-12-01T23:04:39-05:00
3090    2017-12-01T23:04:32-05:00
3091    2017-12-01T23:03:22-05:00
3092    2017-12-01T23:02:32-05:00
3093    2017-12-01T13:44:57-05:00
Name: time, Length: 3094, dtype: object

In [235]:
df.time

0       2017-12-01T00:50:58-05:00
1       2017-12-01T00:42:16-05:00
2       2017-12-01T00:30:38-05:00
3       2017-12-01T00:28:21-05:00
4       2017-12-01T00:23:23-05:00
                  ...
3089    2017-12-01T23:04:39-05:00
3090    2017-12-01T23:04:32-05:00
3091    2017-12-01T23:03:22-05:00
3092    2017-12-01T23:02:32-05:00
3093    2017-12-01T13:44:57-05:00
Name: time, Length: 3094, dtype: object

In [236]:
df.time[0]

'2017-12-01T00:50:58-05:00'

In [246]:
import regex
df['time'] = [x for x in df.time.apply(lambda x: regex.match(r'^(?P<year>\d{4})-(?P<month>\d{2})-(?P<day>\d{2})T(?P<time>\d{2}:\d{2}:\d{2})-\d{2}:\d{2}$', str(x)))]
df.match = df.match.apply(lambda x: x.groupdict())
df.match

0       {'year': '2017', 'month': '12', 'day': '01', '...
1       {'year': '2017', 'month': '12', 'day': '01', '...
2       {'year': '2017', 'month': '12', 'day': '01', '...
3       {'year': '2017', 'month': '12', 'day': '01', '...
4       {'year': '2017', 'month': '12', 'day': '01', '...
                              ...
3089    {'year': '2017', 'month': '12', 'day': '01', '...
3090    {'year': '2017', 'month': '12', 'day': '01', '...
3091    {'year': '2017', 'month': '12', 'day': '01', '...
3092    {'year': '2017', 'month': '12', 'day': '01', '...
3093    {'year': '2017', 'month': '12', 'day': '01', '...
Name: match, Length: 3094, dtype: object

In [247]:
df.match[0]

{'year': '2017', 'month': '12', 'day': '01', 'time': '00:50:58'}

0       {'year': '2017', 'month': '12', 'day': '01', '...
1       {'year': '2017', 'month': '12', 'day': '01', '...
2       {'year': '2017', 'month': '12', 'day': '01', '...
3       {'year': '2017', 'month': '12', 'day': '01', '...
4       {'year': '2017', 'month': '12', 'day': '01', '...
                              ...
3089    {'year': '2017', 'month': '12', 'day': '01', '...
3090    {'year': '2017', 'month': '12', 'day': '01', '...
3091    {'year': '2017', 'month': '12', 'day': '01', '...
3092    {'year': '2017', 'month': '12', 'day': '01', '...
3093    {'year': '2017', 'month': '12', 'day': '01', '...
Name: match, Length: 3094, dtype: object

In [228]:
format = "%Y-%m-%dT%H:%M:%S%z"
df['datetime'] = df.time.apply(lambda x: datetime.strptime(x, format))
df.datetime

0      2017-12-01 00:50:58-05:00
1      2017-12-01 00:42:16-05:00
2      2017-12-01 00:30:38-05:00
3      2017-12-01 00:28:21-05:00
4      2017-12-01 00:23:23-05:00
                  ...
3089   2017-12-01 23:04:39-05:00
3090   2017-12-01 23:04:32-05:00
3091   2017-12-01 23:03:22-05:00
3092   2017-12-01 23:02:32-05:00
3093   2017-12-01 13:44:57-05:00
Name: datetime, Length: 3094, dtype: datetime64[ns, UTC-05:00]

In [227]:
df['datetime']

0      2017-12-01 00:50:58-05:00
1      2017-12-01 00:42:16-05:00
2      2017-12-01 00:30:38-05:00
3      2017-12-01 00:28:21-05:00
4      2017-12-01 00:23:23-05:00
                  ...
3089   2017-12-01 23:04:39-05:00
3090   2017-12-01 23:04:32-05:00
3091   2017-12-01 23:03:22-05:00
3092   2017-12-01 23:02:32-05:00
3093   2017-12-01 13:44:57-05:00
Name: datetime, Length: 3094, dtype: datetime64[ns, UTC-05:00]